.logo{
    width: 50px;
    height: auto;
}
.imagen_juan{
    width: 300px;
    height: auto;
    border-color: #98ff98;
}
.image-container {
    float: left; 
    margin-right: 20px; 
}
h2{
    background-color:#98ff98;
    color:black;
    text-align: center;
}

