*{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal
}

main{
    background-image: url('./img/fondo.jpg'); 
    background-repeat: no-repeat; 
    background-attachment: fixed;   
    background-size: cover;
}
article p,article h3{
    font-weight: 600 !important;
    color: lightgray;
}
.logo{
    width: 50px;
    height: auto;
}

.imagen_juan{
    width: 300px;
    height: auto;
}
.image-container {
    float: left; 
    margin-right: 20px; 
}
.titulo_azul{
    background-color:lightseagreen;
    color:black;
    text-align: center;
    
    
    
}
.titulo_rojo{
    background-color:#c92e08;
    color:lightgray;
    text-align: center;
}

strong{
    color:lightseagreen;
}
.card-title{
    color:#a10505;
}

footer {
    min-height: 50px; /* Establece una altura mínima para el footer, ajusta este valor según sea necesario */
}

@media screen and (max-width: 280px){
    .imagen_juan {
        display: none;
        width: 0%;
    }
}

